<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/fumo.css' />
    <script src="/javascripts/fumo.js"></script>
    <script src="/javascripts/Scene.js"></script>
</head>
<body>
    <button onclick="buttonClicked()" onmouseover="" id="clicked-button">Click me?</button>
    <img src="/images/touhou-fumo.gif" id="fumo" style="display: none" class="cue-in">
    <audio loop id="audio"><source src="/sounds/funky.mp3" type="audio/mp3"></audio>
</body>
</html>