<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/fumo.css' />
    <script src="/javascripts/fumo.js"></script>
</head>
<body>
    <audio controls="" preload="" loop="loop" id="audio"><source src="/sounds/funky.mp3" type="audio/mp3"></audio>
    <button onclick="buttonClicked()" onmouseover="" id="clicked-button">Click me?</button>
    <canvas width="595" height="524" style="width: 1190px; height: 1048px; display: none;" id="canvas"></canvas></body>
</html>