<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&family=Roboto&display=swap');
    </style>
  </head>
  <body>
    <div class="view">
      <!--  this is the navbar triangle thing  -->
      <div class="holder">
        <div class="square1"></div>
        <div class="triangle1"></div>
        <div class="triangle2"></div>
        <div class="square2"></div>
        <div class="navbar">
          <!-- About me,  -->
        </div>
        <div class="who-am-i">
          <p id="name">I'm Sebastian!</p>
          <p id="username"><i>@SebaSphere</i></p>
        </div>
      </div>


    </div>
  </body>
</html>
